/*
========================================================================================
    BJ-DNA-QC Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/


manifest {
  name            = "BJ-DNA-QC"
  description     = "Pipeline evaluates the quality of the single-cell libraries from low-pass sequencing data"
  author          = "BioSkryb Genomics"
  mainScript      = "main.nf"
  version         = '2.1.0'
  nextflowVersion = '!>=22.10.1'
}
nextflow.enable.configProcessNamesValidation = false

/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/


// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'

params {

  // GENERAL
  help                = false
  organization        = "BSG210001"
  workspace           = "b85725bb-5a19-476f-8f8a-aa60ebaed643"
  project             = "1753d7ec-379f-4728-8068-595f49913ec6"
  architecture = "x86"
  // "arm" and "x86" options


  // READ INPUTS
  reads               = ""
  input_csv           = ""
  platform            = "Illumina"
  // Illumina, Ultima, Element
  min_reads           = 1000

  // SEQTK
  read_length         = 50
  n_reads             = 2000000
  seqtk_sample_seed   = 123

  // FASTP
  instrument          = ""
  two_color_chemistry = (params.instrument in ["NextSeq", "NovaSeq"] ? true : false)
  qc_only_mode        = false
  adapter_sequence    = "none"
  adapter_sequence_r2 = "none"

  // SENTIEON
  run_sentieon        = false
  genomes_base = "s3://bioskryb-public-data/pipeline_resources"
  genome              = 'GRCh38'
  mode                = "preseq"
  ploidy              = 2
  pcrfree             = false

  // DEEP VARIANT
  run_deepvariant     = false

  // MULTIQC
  multiqc_config      = "${baseDir}/assets/multiqc"


  // GINKGO

  bin_size            = 1000000
  // 500000, 1000000, 2000000 options
  min_ploidy          = 1.5
  max_ploidy          = 6
  min_bin_width       = 5
  is_haplotype        = 2

  // OUTPUT DIR - defaults are profile specific
  publish_dir         = ""
  timestamp           = new java.util.Date().format('yyMMdd_HHmmss').toString()
  tmp_dir             = "/tmp/${params.timestamp}"
  enable_publish      = true
  disable_publish     = false

  // MAPD
  mapd_bin_size       = 500000

  //SKIP MODULES
  skip_seqtk          = false
  skip_kraken         = true
  skip_qualimap       = true
  skip_mapd           = false
  skip_fastqc         = true
  skip_ginkgo         = true
  skip_sigprofile     = true
  is_bam              = false

  // NOTIFICATIONS
  email_on_fail       = ""

  // Pipeline specific Resource Label
  pipeline_name       = "BJ-DNA-QC_${params.timestamp}"

  // SENTIEON
  variant_caller           = "dnascope"
  // dnascope, haplotyper
  dnascope_model_selection = "bioskryb129"
  // sentieon, bioskryb129
  giab_reference_name      = "HG001"

  reference           = params.genomes[params.genome]['reference']
  intervals           = params.genomes[params.genome]['base_metrics_intervals']
  ginko_ref_dir       = params.genomes[params.genome]["${params.bin_size}"]["${params.read_length}"]['ginko_ref_dir']
  krakendb            = params.genomes[params.genome]['kraken2_db']
  blacklist_regions   = params.genomes[params.genome]['blacklist_regions']
  dbsnp = params.genomes[params.genome]['dbsnp']
  dbsnp_index = params.genomes[params.genome]['dbsnp_index']
  mills = params.genomes[params.genome]['mills']
  mills_index = params.genomes[params.genome]['mills_index']
  onekg_omni = params.genomes[params.genome]['onekg_omni']
  onekg_omni_index = params.genomes[params.genome]['onekg_omni_index']
  calling_intervals_filename   = params.genomes [params.genome] [ 'calling_intervals_filename' ]
  report_s3_dir            = "s3://bioskryb-reports/"
  plot_qc_config            = "${baseDir}/assets/plot_qc_config.json"
  
}

// Load modules config
includeConfig './nf-bioskryb-utils/conf/modules.config'

includeConfig './nf-bioskryb-utils/subworkflows/google_deepvariant_wf/nextflow.config'
