common_resource_labels = [
    pipeline_user                : params.pipeline_user,
    basejumper_organization_name : params.basejumper_organization_name,
    basejumper_workspace_name    : params.basejumper_workspace_name,
    basejumper_project_name      : params.basejumper_project_name,
    pipeline_name                : params.pipeline_name,
    basejumper_organization_uuid : params.basejumper_organization_uuid,
    basejumper_workspace_uuid    : params.basejumper_workspace_uuid,
    basejumper_project_uuid      : params.basejumper_project_uuid,
    basejumper_pipeline_uuid     : params.basejumper_pipeline_uuid,
    pipeline_biosample_count     : params.pipeline_biosample_count
]

process {

    // Module config for Preseq Workflow

    withName: 'PUBLISH_INPUT_DATASET' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:ubuntu_24.04_stable"
        cpus        = 2
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
                common_resource_labels + [
                pipeline_process_name: "PUBLISH_INPUT_DATASET"
        ]
    }

    withName: 'COUNT_READS_FASTQ' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:count_reads_0.1"
        cpus        = { 2 * task.attempt }
        memory      = { 7.GB * task.attempt }
        time        = { 2.h * task.attempt }
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "COUNT_READS_FASTQ"
        ]
    }

    withName: 'COMBINE_READ_COUNTS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:count_reads_0.1"
        cpus = 1
        memory = 3.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "COMBINE_READ_COUNTS"
        ]
    }

    withName: 'SEQTK_SAMPLE' {
        container   = "quay.io/biocontainers/seqtk:1.3--h5bf99c6_3"
        cpus        = 2
        memory      = 7.GB
        time        = 10.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SEQTK_SAMPLE"
        ]
    }

    withName: 'FASTP' {
        container   = "quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
        ext.args = { 
            if (manifest.name == 'BJ-Expression') {
                return '--disable_adapter_trimming'
            } else  {
                return "--adapter_sequence=${params.adapter_sequence} --adapter_sequence_r2=${params.adapter_sequence_r2}"
            }
        }
        cpus        = { 2 * task.attempt }
        memory      = { 7.GB * task.attempt }
        time        = { 2.h * task.attempt }
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "FASTP"
        ]
    }

    withName: 'KRAKEN2' {
        container   = "quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0"
        cpus        = 4
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "KRAKEN2"
        ]
    }

    withName: 'FASTQC' {
        container   = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
        cpus        = 4
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "FASTQC"
        ]
    }

    withName: 'SENTIEON_BWA_MEM' {
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 8
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_BWA_MEM"
        ]
    }

    withName: 'SENTIEON_DRIVER_LOCUSCOLLECTOR' {
        container = {
        params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
        : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 1
        memory      = 1.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_LOCUSCOLLECTOR"
        ]
    }

    withName: 'SENTIEON_DRIVER_DEDUP' {
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 8
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_DEDUP"
        ]
    }

    withName: 'SENTIEON_DRIVER_METRICS' {
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 2
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DRIVER_METRICS"
        ]
    }

    withName: 'BWA_MEM' {
        container = "agrf/bwa-samtools:0.7.17.1.9"
        cpus        = 8
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "BWA_MEM"
        ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        container = "pateljap2/picard_samtools:3.4.0_1.22.1"
        cpus        = 8
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PICARD_MARKDUPLICATES"
        ]
    }

    withName: 'PICARD_METRICS' {
        container = "pateljap2/picard_samtools:3.4.0_1.22.1"
        cpus        = 8
        memory      = 15.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PICARD_METRICS"
        ]
    }

    withName: 'BAM_LORENZ_COVERAGE' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:bam_lorenz_coverage_v1"
        cpus        = 2
        memory      = 7.GB
        time        = 2.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "BAM_LORENZ_COVERAGE"
        ]
    }

    withName: 'QUALIMAP_BAMQC' {
        container   = "quay.io/biocontainers/qualimap:2.2.2d--1"
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "QUALIMAP_BAMQC"
        ]
    }

    withName: 'PRESEQ_BAM2MR' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:preseq_bam2mr_0.1"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "PRESEQ_BAM2MR"
        ]
    }
    
    withName: 'PRESEQ_GC_EXTRAP' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:preseq_bam2mr_0.1"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "PRESEQ_GC_EXTRAP"
        ]
    }

    withName: "BAM_TO_BED" {
        container   = "quay.io/biocontainers/bedtools:2.28.0--hdf88d34_0"
        cpus        = 1
        memory      = 3.GB
        time        = { 2.h * task.attempt }
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "BAM_TO_BED"
        ]
    }

    withName: "GINKGO_BINUNSORT" {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ginkgo_0.2"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "GINKGO_BINUNSORT"
        ]
    }
    
    withName: "GINKGO_SEGMENTATION_R" {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ginkgo_0.2"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "GINKGO_SEGMENTATION_R"
        ]
    }

    withName: "GINKGO_CNV_CALLER" {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ginkgo_0.2"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "GINKGO_CNV_CALLER"
        ]
    }
    
    withName: "GINKO_RDS_TO_FLAT" {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ginkgo_0.2"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "GINKO_RDS_TO_FLAT"
        ]
    }

    withName: "GINKO_PARSE_OUTPUTS" {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ginko_parser_0.2.1"
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "GINKO_PARSE_OUTPUTS"
        ]
    }
    
    withName: "PARSE_RDS_CNV_METRICS" {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ginkgo_0.3"
        errorStrategy = 'ignore'
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = common_resource_labels + [
            pipeline_process_name: "PARSE_RDS_CNV_METRICS"
        ]
    }

    withName: 'CUSTOM_DATA_PROCESSING' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:custom_bj-dna-qc_1.3.3"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_DATA_PROCESSING"
        ]
    }

    withName: 'CUSTOM_CALCULATE_MAPD' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:custom_bj-dna-qc_1.3.1"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_CALCULATE_MAPD"
        ]
    }

    withName: 'CUSTOM_REPORT' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:custom_bj-dna-qc_1.5"
        cpus        = { 2 * task.attempt }
        memory      = { 7.GB * task.attempt }
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_REPORT"
        ]
    }

    withName: 'REPORT_VERSIONS' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:ubuntu_24.04_stable"
        cpus        = 1
        memory      = 3.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "REPORT_VERSIONS"
        ]
    }

    withName: 'QC_PLOTS' {
        container   = "public.ecr.aws/v2u5x5f1/basejumper:custom_r_qcplots_0.1.6"
        errorStrategy = 'ignore'
        cpus        = { 2 * task.attempt }
        memory      = { 7.GB * task.attempt }
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "QC_PLOTS"
        ]
    }

    // Module config for Mutational Signature Profiling

    withName: 'CUSTOM_BAM_SUBSAMPLE' {
        container = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        cpus        = 4
        memory      = 8.GB
        time = 6.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_BAM_SUBSAMPLE"
        ]
    }

    withName: 'CUSTOM_BAM_CONCATENATE_FILES' {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
        cpus        = 4
        memory      = 8.GB
        time = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_BAM_CONCATENATE_FILES"
        ]
    }

    withName: 'PICARD_ADDORREPLACEREADGROUPS' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:picard_addorreplacegroups_3.1.2"
        cpus        = 4
        memory      = 8.GB
        time = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PICARD_ADDORREPLACEREADGROUPS"
        ]
    }

    withName: 'SENTIEON_ALGORITHM' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        maxForks    = 8 
        container = {
            params.architecture == 'arm' ? 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-arm-202308-01'
            : 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        }
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_ALGORITHM"
        ]
    }

    withName: 'SENTIEON_DNASCOPE' {
        errorStrategy   = { task.attempt <=1 ? 'retry' : 'ignore' }
        container = 'public.ecr.aws/v2u5x5f1/basejumper:sentieon-202308-01-1'
        cpus        = 64
        memory      = 123.GB
        time        = 24.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SENTIEON_DNASCOPE"
        ]
    }

    withName: 'BCFTOOLS_ISEC' {
        container   = 'quay.io/biocontainers/bcftools:1.21--h8b25389_0'
        cpus        = 8
        memory      = 30.GB
        time        = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "BCFTOOLS_ISEC"
        ]
    }

    withName: 'PREPROCESS_VCF' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:variantannotation_0.4"
        errorStrategy   = 'ignore'
        cpus = 2
        memory = 7.GB
        time = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "PREPROCESS_VCF"
        ]
    }

    withName: 'SIGPROFILERGENERATEMATRIX_MATRIX_GENERATOR' {        
        container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofilermatrixgenerator_1.2.25_2"
        errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SIGPROFILERGENERATEMATRIX_MATRIX_GENERATOR"
        ]
    }

    withName: 'CUSTOM_MUTATIONCATALOG_MERGER' {        
        container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofilermatrixgenerator_1.2.25_2"
        errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "CUSTOM_MUTATIONCATALOG_MERGER"
        ]
    }

    withName: 'SIGPROFILE_HEATMAP' {        
        container = "public.ecr.aws/v2u5x5f1/basejumper:sigprofilermatrixgenerator_1.2.25_4"
        errorStrategy   = 'ignore'
        cpus        = 2
        memory      = 7.GB
        time        = 1.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "SIGPROFILE_HEATMAP"
        ]
    }
    
    withName: 'DEEPVARIANT_MAKE_EXAMPLES.*' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:google_deepvariant_1.8.0"
        errorStrategy = 'ignore'
        maxRetries    = 0
        cpus        = 62
        memory      = 246.GB
        time        = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "DEEPVARIANT_MAKE_EXAMPLES"
            ]
    }
    
    withName: 'DEEPVARIANT_CALL_VARIANTS.*' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:google_deepvariant_1.8.0-gpu"
        errorStrategy = 'ignore'
        maxRetries = 0
        containerOptions = '--gpus all'
        accelerator = 1
        cpus = 8
        memory = 30.GB
        time = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "DEEPVARIANT_CALL_VARIANTS"
            ]
    }

    withName: 'DEEPVARIANT_POSTPROCESS.*' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:google_deepvariant_1.8.0"
        errorStrategy = 'ignore'
        maxRetries = 0
        cpus = 62
        memory = 246.GB
        time = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "DEEPVARIANT_POSTPROCESS"
            ]
    }


    withName: 'GOOGLE_DEEPVARIANT_FASTPIPELINE_GPU' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:google_deepvariant_1.8.0-gpu"
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        maxRetries = 2
        accelerator = 4
        cpus = 48
        memory = 180.GB
        time = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "GOOGLE_DEEPVARIANT_FASTPIPELINE_GPU"
            ]
    }

    withName: 'GOOGLE_DEEPVARIANT_GPU' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:google_deepvariant_1.8.0-gpu"
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        maxRetries = 2
        accelerator = 4
        cpus = 48
        memory = 180.GB
        time = 3.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "GOOGLE_DEEPVARIANT_GPU"
            ]
    }

    withName: 'GOOGLE_DEEPVARIANT_CPU' {
        container = "public.ecr.aws/v2u5x5f1/basejumper:google_deepvariant_1.8.0"
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
        maxRetries    = 2
        cpus        = 62
        memory      = 246.GB
        time        = 5.h
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name: "GOOGLE_DEEPVARIANT_CPU"
            ]
    }

    withName: 'MULTIQC' {
        container   = "quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0"
        errorStrategy = { task.attempt <=2 ? 'retry' : 'terminate' }
        cpus        = { 2 * task.attempt }
        memory      = { 7.GB * task.attempt }
        time        = { 5.h }
        resourceLabels = 
            common_resource_labels + [
            pipeline_process_name : "MULTIQC"
        ]
    }
    
}

